.about {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    align-content: strech;

    .left, .right {
        width: 50%;
        min-width: 500px;
        min-height: 50vh;
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        align-content: center;
        color: #7FDBFF;
        font-size: 2em;
        text-transform: uppercase;
        padding-bottom: 50px;

        span {
            text-align: center;
            padding: 20px 0;
        }

        div {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            a {
                display: block;
                padding: 20px;
                color: inherit;
                font-weight: 700;
                font-size: 1.1em;
                text-decoration: none;
                border: 1px solid;

                &:hover {
                    color: #0074D9;
                }
            }
        }
    }

    .right {
        background: url('../img/about-photo.jpg');
        background-size: cover;
        background-reapet: no-reapet;

        &::after {
            display: block;
            width: 100%;
            height: 100%;
            background: #7FDBFF;
            opacity: .7;
            z-index: 999;
            content: " ";
        }
    }
}
