$lightblue: #7FDBFF;

.about {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    align-content: strech;

    .left, .right {
        flex-basis: 50%;
        min-width: 500px;
        min-height: 50vh;
        flex-grow: 99999;
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        align-content: center;
        color: $lightblue;
        font-size: 1.8em;
        text-transform: uppercase;
        padding-bottom: 50px;

        span {
            text-align: center;
            padding: 20px 0;
            width: 90%;

            &:first-child {
                padding-top: 50px;
            }
        }

        div {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            a {
                display: block;
                padding: 20px;
                font-weight: 700;
                font-size: 1.1em;
                text-decoration: none;
                color: #fff;
                background: $lightblue;

                &:hover {
                    color: $lightblue;
                    background: #fff;
                }
            }
        }
    }

    .right {
        overflow: hidden;
        position: relative;

        &::before, &::after {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            content: " ";
            transition: 500ms;
        }

        &::before {
            background: url('../img/about-photo.jpg');
            background-size: cover;
            z-index: 666;
        }

        &:hover::before {
            transform: scale(1.1);
        }

        &::after {
            background: $lightblue;
            opacity: .7;
            z-index: 999;
        }

        &:hover::after {
            opacity: 0;
        }
    }
}
