$blue: #0071bc;

.about {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    align-content: strech;

    .left, .right {
        flex-basis: 50%;
        min-width: 500px;
        flex-grow: 999;
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        align-content: center;
        color: $blue;
        font-size: 1.8em;
        text-transform: uppercase;
        padding-bottom: 50px;
        min-height: 50vh;

        span {
            text-align: center;
            padding: 20px 0;
            width: 90%;

            &:first-child {
                padding-top: 50px;
            }
        }

        div {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            a {
                display: block;
                padding: 20px;
                font-weight: 700;
                font-size: 1.1em;
                text-decoration: none;
                color: #fff;
                background: $blue;
                transition: 300ms;

                &:hover {
                    color: $blue;
                    background: #fff;
                }
            }
        }
    }

    .right {
        overflow: hidden;
        position: relative;
        min-height: 100vmin;

        &::before {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            content: " ";
            transition: 500ms;
        }

        &::before {
            background: url('../img/about-photo.jpg');
            background-size: cover;
            z-index: 666;
        }

        &:hover::before {
            transform: scale(1.1);
        }
    }

    .contact-div {
        box-sizing: border-box;
        z-index: 999;
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .9);
        animation: intro-fade-in 700ms ease-in forwards;

        .popup {
            position: relative;
            width: 90vmin;
            height: 45vmin;
            font-size: 2em;
            font-weight: 300;
            color: $blue;
            background: #fff;
            border: 1px solid #666;
            border-radius: 3px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            animation: intro-img-fly-in 700ms ease-in-out forwards;

            i {
                font-size: 1.2em;
            }

            .socials {
                position: absolute;
                bottom: 40px;
                right: 40px;

                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }
}
