.contact {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .square {
        width: 90vmin;
        height: 90vmin;
        display: flex;
        flex-flow: row wrap;

        .item {
            position: relative;
            width: 45vmin;
            height: 45vmin;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .outlined {
            border: 1px solid #ccc;
            cursor: pointer;
            position: relative;

            &:hover .email {
                transform: rotateZ(-45deg);
            }

            &:hover .cell {
                transform: rotateZ(45deg);
            }
        }

        .text {
            opacity: 0;
            transition: 700ms;
        }

        .shown {
            opacity: 1 !important;
        }

        .email, .cell {
            width: 25vmin;
            height: 25vmin;
            transition: 500ms;
        }

        .email {
            background-image: url("../img/email.svg");
                                //https://www.flaticon.com/authors/graphicsbay
            background-size: cover;
        }

        .cell {
            background-image: url("../img/smartphone.svg");
                                //https://www.flaticon.com/authors/smashicons
            background-size: cover;
        }
    }
}