.galleries {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.galleries .square {
  width: 90vmin;
  height: 90vmin;
  display: flex;
  flex-flow: row wrap;
}

.galleries .square .gallery {
  position: relative;
  width: 90vmin;
  height: 45vmin;
  transition: 1000ms;
  filter: grayscale(0);
  overflow: hidden;
}

.galleries .square .gallery:hover {
  filter: grayscale(1);
}

.galleries .square .gallery a {
  position: absolute;
  z-index: 999;
  display: flex;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
}

.galleries .square .gallery a:hover {
  color: #fff;
}

.galleries .square .gallery::before {
  position: absolute;
  z-index: 666;
  display: block;
  width: 100%;
  height: 100%;
  content: " ";
  transition: 500ms;
  transform: scale(1.05);
}

.galleries .square .gallery:hover::before {
  transform: scale(1.15);
}

.galleries .square .photography::before {
  background: url("../img/photography.jpg");
  background-size: cover;
}

.galleries .square .video::before {
  background: url("../img/video.jpeg");
  background-size: cover;
}
