.galleries {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .square {
        width: 700px;
        height: 700px;
        display: flex;
        flex-flow: row wrap;

        .gallery {
            width: 350px;
            height: 350px;
            transition: 1000ms;
            filter: grayscale(0);

            &:nth-child(1) {
                background: url(https://scontent-frx5-1.xx.fbcdn.net/v/t1.15752-9/s2048x2048/42476138_951522865048769_948007326424498176_n.jpg?_nc_cat=102&oh=6fdf2f01fd043081c7fd8eca58037f42&oe=5C17391D);
                background-size: cover;
            }

            &:nth-child(2) {
                background: url(https://scontent-frx5-1.xx.fbcdn.net/v/t1.15752-9/s2048x2048/42430214_2005574879499037_2832661155120414720_n.jpg?_nc_cat=107&oh=b6a3a876b98a2b54e35e8e55935c01e4&oe=5C16FEC7);
                background-size: cover;
            }

            &:nth-child(3) {
                background: url(https://scontent-frx5-1.xx.fbcdn.net/v/t1.15752-9/s2048x2048/42405861_331476540933987_3781177271960731648_n.jpg?_nc_cat=101&oh=612c143a43a7ca98fa4eeaebdb0b06b6&oe=5C25CC8B);
                background-size: cover;
            }

            &:nth-child(4) {
                background: url(https://scontent-frx5-1.xx.fbcdn.net/v/t1.15752-9/s2048x2048/42520872_2239473276334283_8067732655468183552_n.jpg?_nc_cat=105&oh=7afee1d4d8d49d5cacb3802e618ba790&oe=5C205C84);
                background-size: cover;
            }

            &:hover {
                filter: grayscale(1);
            }

            a {
                display: flex;
                width: 100%;
                height: 100%;
                text-transform: uppercase;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                font-size: 2em;
                font-weight: 700;
                color: #fff;
                text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);

                &:hover {
                    color: default;
                }
            }
        }
    }
}