$duration: 2000ms;

.intro {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation: intro-fade-in $duration ease-in forwards;

    img {
        max-width: 500px;
        height: auto;
        animation: intro-img-fly-in $duration ease-in-out forwards;
    }

    .show-more {
        display: block;
        border: 1px solid;
        padding: 20px;
        font-weight: 700;
        font-size: 3em;
        text-decoration: none;
        text-transform: uppercase;
        transition: 300ms;
        color: #7FDBFF;
        cursor: pointer;
        opacity: 0;
        animation: show-more-fade-in 500ms ease-in forwards;
        animation-delay: $duration;

        &:hover {
            color: #0074D9;
        }
    }
}

@keyframes intro-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes intro-img-fly-in {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes show-more-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
