:root {
  font-size: 2vmin;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

.intro {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  animation: intro-fade-in 2000ms ease-in forwards;
}

.intro img {
  max-width: 40vmin;
  height: auto;
  animation: intro-img-fly-in 2000ms ease-in-out forwards;
}

.intro .show-more {
  display: block;
  padding: 20px;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
  text-transform: uppercase;
  transition: 300ms;
  color: #fff;
  background: #0071bc;
  cursor: pointer;
  opacity: 0;
  animation: show-more-fade-in 500ms ease-in forwards;
  animation-delay: 2000ms;
}

.intro .show-more:hover {
  color: #0071bc;
  background: #fff;
}

@keyframes intro-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro-img-fly-in {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes show-more-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  align-content: strech;
}

.about .left, .about .right {
  flex-basis: 50%;
  min-width: 500px;
  flex-grow: 999;
}

.about .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  color: #0071bc;
  font-size: 1.8em;
  text-transform: uppercase;
  padding-bottom: 50px;
  min-height: 50vh;
}

.about .left span {
  text-align: center;
  padding: 20px 0;
  width: 90%;
}

.about .left span:first-child {
  padding-top: 50px;
}

.about .left div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.about .left div a {
  display: block;
  padding: 20px;
  font-weight: 700;
  font-size: 1.1em;
  text-decoration: none;
  color: #fff;
  background: #0071bc;
  transition: 300ms;
}

.about .left div a:hover {
  color: #0071bc;
  background: #fff;
}

.about .right {
  overflow: hidden;
  position: relative;
  min-height: 100vmin;
}

.about .right::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: " ";
  transition: 500ms;
}

.about .right::before {
  background: url("../img/about-photo.jpg");
  background-size: cover;
  z-index: 666;
}

.about .right:hover::before {
  transform: scale(1.1);
}
