.video-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .player-tile {
        box-sizing: border-box;
        padding: 30px;
        width: 65vw;
    }
}
